<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>dbPerformanceTest</title>
	</head>

	<body>
		<form id="dbTestForm" action="#" method="POST">
			<table>
				<thead>
					<th>説明</th>
					<th>操作</th>
				</thead>
				<tbody>
					<tr>
						<td>項目少数テーブルの大量件数select</td>
						<td><input type="button" onclick="doSubmit('/selectFew')" value="Do it!"></td>
					</tr>
					<tr>
						<td>大量項目テーブルの大量件数select</td>
						<td><input type="button" onclick="doSubmit('/selectMany')" value="Do it!"></td>
					</tr>
					<tr>
						<td>項目少数テーブルの大量件数insert</td>
						<td><input type="button" onclick="doSubmit('/insertFew')" value="Do it!"></td>
					</tr>
					<tr>
						<td>大量項目テーブルの大量件数insert</td>
						<td><input type="button" onclick="doSubmit('/insertMany')" value="Do it!"></td>
					</tr>
					<tr>
						<td>項目少数テーブルの削除</td>
						<td><input type="button" onclick="doSubmit('/deleteFew')" value="Do it!"></td>
					</tr>
					<tr>
						<td>大量項目テーブルの削除</td>
						<td><input type="button" onclick="doSubmit('/deleteMany')" value="Do it!"></td>
					</tr>
				</tbody>
			</table>
			<th:block th:if="${fewColumnsTranList != null && fewColumnsTranList.size > 0}">
				<table border="1">
					<!--
					<thead>
						<th>ID</th>
						<th>文字列カラム001</th>
						<th>文字列カラム002</th>
						<th>文字列カラム003</th>
						<th>文字列カラム004</th>
						<th>文字列カラム005</th>
						<th>削除フラグ</th>
						<th>作成者</th>
						<th>作成日</th>
						<th>更新者</th>
						<th>更新日</th>
					</thead>
					-->
					<tbody>
						<tr th:each="fewColumnsTran : ${fewColumnsTranList}">
							<td th:text="${fewColumnsTran.id}"></td>
							<td th:text="${fewColumnsTran.charColumn001}"></td>
							<td th:text="${fewColumnsTran.charColumn002}"></td>
							<td th:text="${fewColumnsTran.charColumn003}"></td>
							<td th:text="${fewColumnsTran.charColumn004}"></td>
							<td th:text="${fewColumnsTran.charColumn005}"></td>
							<td th:text="${fewColumnsTran.isDeleted}"></td>
							<td th:text="${fewColumnsTran.createdBy}"></td>
							<td th:text="${fewColumnsTran.createdAt}"></td>
							<td th:text="${fewColumnsTran.updatedBy}"></td>
							<td th:text="${fewColumnsTran.updatedAt}"></td>
						</tr>
					</tbody>
				</table>
			</th:block>
			<th:block th:if="${manyColumnsTranList != null && manyColumnsTranList.size > 0}">
				<table border="1">
					<!--
					<thead>
						<th>ID</th>
						<th>文字列カラム020</th>
						<th>文字列カラム040</th>
						<th>文字列カラム060</th>
						<th>文字列カラム080</th>
						<th>文字列カラム100</th>
						<th>削除フラグ</th>
						<th>作成者</th>
						<th>作成日</th>
						<th>更新者</th>
						<th>更新日</th>
					</thead>
					-->
					<tbody>
						<tr th:each="manyColumnsTran : ${manyColumnsTranList}">
							<td th:text="${manyColumnsTran.id}"></td>
							<td th:text="${manyColumnsTran.charColumn020}"></td>
							<td th:text="${manyColumnsTran.charColumn040}"></td>
							<td th:text="${manyColumnsTran.charColumn060}"></td>
							<td th:text="${manyColumnsTran.charColumn080}"></td>
							<td th:text="${manyColumnsTran.charColumn100}"></td>
							<td th:text="${manyColumnsTran.isDeleted}"></td>
							<td th:text="${manyColumnsTran.createdBy}"></td>
							<td th:text="${manyColumnsTran.createdAt}"></td>
							<td th:text="${manyColumnsTran.updatedBy}"></td>
							<td th:text="${manyColumnsTran.updatedAt}"></td>
						</tr>
					</tbody>
				</table>
			</th:block>
		</form>
	</body>
	<script>
		function doSubmit(url) {
			let form = document.getElementById("dbTestForm")
			form.action = url;
			form.submit();
		}
	</script>
</html>
