<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
		<script defer th:src="@{/js/common.js}"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/plugins/css/ui.multiselect.min.css"/>
		<title>dbPerformanceTest</title>
	</head>

	<body>
		<form id="seatForm" action="#" method="POST">
			<table>
				<thead>
					<th>カラム名</th>
					<th>値</th>
				</thead>
				<tbody>
					<tr>
						<td>id</td>
						<td th:text="${seat.id}"></td>
					</tr>
					<tr>
						<td>stand</td>
						<td th:text="${seat.stand}"></td>
					</tr>
					<tr>
						<td>event</td>
						<td th:text="${seat.event}"></td>
					</tr>
					<tr>
						<td>type</td>
						<td th:text="${seat.type}"></td>
					</tr>
					<tr>
						<td>position</td>
						<td th:text="${seat.position}"></td>
					</tr>
					<tr>
						<td>place</td>
						<td th:text="${seat.place}"></td>
					</tr>
					<tr>
						<td>isDeleted</td>
						<td th:text="${seat.isDeleted}"></td>
					</tr>
					<tr>
						<td>createdBy</td>
						<td th:text="${seat.createdBy}"></td>
					</tr>
					<tr>
						<td>createdAt</td>
						<td th:text="${seat.createdAt}"></td>
					</tr>
					<tr>
						<td>updatedBy</td>
						<td th:text="${seat.updatedBy}"></td>
					</tr>
					<tr>
						<td>updatedAt</td>
						<td th:text="${seat.updatedAt}"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>
