<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
		<script defer th:src="@{/js/common.js}"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/plugins/css/ui.multiselect.min.css" />

		<!-- Grid.js -->
		<link rel='stylesheet' href='https://unpkg.com/gridjs/dist/theme/mermaid.min.css' />
		<script src='https://unpkg.com/gridjs/dist/gridjs.umd.js'></script>

		<title>dbPerformanceTest</title>
	</head>

	<body>
		<form id="seatForm" action="#" method="POST">
			<table>
				<thead>
					<tr>
						<th colspan="3">検索条件入力</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>stand</td>
						<td><input id="tbStand" type="text"></td>
						<td>event</td>
						<td><input id="tbEvent" type="text"></td>
					</tr>
					<tr>
						<td>type</td>
						<td><input id="tbType" type="text"></td>
						<td>position</td>
						<td><input id="tbPosition" type="text"></td>
					</tr>
					<tr>
						<td>検索</td>
						<td><input id="btnSearchSeat" type="button" value="Do it!"></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p><span>--------------------------------------------------------------------------------</span></p>
			<table>
				<thead>
					<tr>
						<th>説明</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<!--
					<tr>
						<td>一覧表示</td>
						<td><input id="btnSelectSeat" type="button" value="Do it!"></td>
					</tr>
					-->
					<tr>
						<td>1レコード追加(insert)</td>
						<td><input id="btnInsertSeat" type="button" value="Do it!"></td>
					</tr>
					<tr>
						<td>1レコード削除(delete)</td>
						<td><input id="btnDeleteSeat" type="button" value="Do it!"></td>
					</tr>
				</tbody>
			</table>

			<!-- Grid.js検証のためjqgridはコメント化
			<table id="seatTable"></table>
			<div id="seatTablePager"></div>
			-->

		</form>

		<div id="seatTable" class="table"></div>
		
	</body>
</html>
