<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<script defer th:src="@{/js/jquery-3.7.1.min.js}"></script>
		<script defer th:src="@{/js/common.js}"></script>
		<title>dbPerformanceTest</title>
	</head>

	<body>
		<form id="seatForm" action="#" method="POST">
			<table>
				<thead>
					<th>説明</th>
					<th>操作</th>
				</thead>
				<tbody>
					<tr>
						<td>シートテーブルの大量件数select</td>
						<td><input id="btnSelectSeat" type="button" value="Do it!"></td>
					</tr>
					<tr>
						<td>シートテーブルの大量件数insert</td>
						<td><input id="btnInsertSeat" type="button" value="Do it!"></td>
					</tr>
					<tr>
						<td>シートテーブルの削除</td>
						<td><input id="btnDeleteSeat" type="button" value="Do it!"></td>
					</tr>
				</tbody>
			</table>
			<th:block th:if="${seatList != null && seatList.size > 0}">
				<table  id="seatTable" border="1">
					<!--
					<thead>
						<th>ID</th>
						<th>文字列カラム001</th>
						<th>文字列カラム002</th>
						<th>文字列カラム003</th>
						<th>文字列カラム004</th>
						<th>文字列カラム005</th>
						<th>削除フラグ</th>
						<th>作成者</th>
						<th>作成日</th>
						<th>更新者</th>
						<th>更新日</th>
					</thead>
					-->
					<tbody id="seatTableBody">
						<tr th:each="seat : ${seatList}">
							<td th:text="${seat.id}"></td>
							<td th:text="${seat.stand}"></td>
							<td th:text="${seat.event}"></td>
							<td th:text="${seat.type}"></td>
							<td th:text="${seat.position}"></td>
							<td th:text="${seat.place}"></td>
							<td th:text="${seat.isDeleted}"></td>
							<td th:text="${seat.createdBy}"></td>
							<td th:text="${seat.createdAt}"></td>
							<td th:text="${seat.updatedBy}"></td>
							<td th:text="${seat.updatedAt}"></td>
						</tr>
					</tbody>
				</table>
			</th:block>
		</form>
	</body>
</html>
